body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --main-color: rgb(0, 119, 255)
}

/* start-home */
header {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../img/pexels-padrinan-1591061.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

a {
    text-decoration: none;
}

header h5 {
    font-weight: 900;
    font-size: 50px;
    position: relative;

}


header h5::before {
    content: "I Am|";
    margin: auto;
    position: absolute;
    bottom: -80px;
    transform: translateX(-40%);
    margin-left: 15px;
    font-weight: 500;
    animation: typing 13s infinite;
    font-size: 60px;
}

@media (max-width: 1200px) {

    header h5::before {
        font-size: 40px;
        transform: translateX(-35%);
    }

}

@media (max-width: 992px) {

    header h5::before {
        font-size: 40px;
        transform: translateX(-30%);
    }

}

@media (max-width: 768px) {

    header h5::before {
        font-size: 30px;
        transform: translateX(-25%);
    }

}

@keyframes typing {
    1% {
        content: "I Am M|";

    }

    2% {
        content: "I Am Ma|";


    }

    3% {
        content: "I Am Mah|";

    }

    4% {
        content: "I Am Mahm|";


    }

    5% {
        content: "I Am Mahmo|";

        ;
    }

    6% {
        content: "I Am Mahmou|";

        ;
    }

    7% {
        content: "I Am Mahmoud|";

        ;
    }

    8% {
        content: "I Am Mahmoud |";

        ;
    }

    9% {
        content: "I Am Mahmoud S|";

        ;
    }

    10% {
        content: "I Am Mahmoud Sa|";
        ;
        ;
    }

    11% {
        content: "I Am Mahmoud Sal|";
        ;
        ;
    }

    12% {
        content: "I Am Mahmoud Sale|";
        ;
        ;
    }

    13% {
        content: "I Am Mahmoud Saleh|";
        ;
        ;
    }

    14% {
        content: "I Am Mahmoud Saleh|";
        ;
        ;
    }

    15% {
        content: "I Am Mahmoud Saleh|";
        ;
        ;
    }

    16% {
        content: "I Am Mahmoud Saleh|";
        ;
        ;
    }

    17% {
        content: "I Am Mahmoud Saleh|";
        ;
        ;
    }

    18% {
        content: "I Am Mahmoud Saleh|";
        ;
        ;
    }

    19% {
        content: "I Am Mahmoud Saleh|";
        ;
        ;
    }

    20% {
        content: "I Am Mahmoud Saleh|";
        ;
        ;
    }

    21% {
        content: "I Am Mahmoud Sale|";

        ;
    }

    22% {
        content: "I Am Mahmoud Sal|";

        ;
    }

    23% {
        content: "I Am Mahmoud Sa|";

        ;
    }

    24% {
        content: "I Am Mahmoud S|";

        ;
    }

    25% {
        content: "I Am Mahmoud |";

        ;
    }

    26% {
        content: "I Am Mahmou|";

        ;
    }

    27% {
        content: "I Am Mahmo|";

        ;
    }

    28% {
        content: "I Am Mahm|";

        ;
    }

    29% {
        content: "I Am Mah|";


    }

    30% {
        content: "I Am Ma|";


    }

    31% {
        content: "I Am M|";


    }

    32% {
        content: "I Am |";


    }

    33% {
        content: "I Am |";

    }

    34% {
        content: "I Am |";

    }

    35% {
        content: "I Am |";

    }

    36% {
        content: "I Am |";

    }

    37% {
        content: "I Am |";

    }

    38% {
        content: "I Am |";

    }

    39% {
        content: "I Am |";

    }

    40% {
        content: "I Am |";

    }

    41% {
        content: "I Am |";

    }

    42% {
        content: "I Am D|";

    }

    43% {
        content: "I Am De|";

    }

    44% {
        content: "I Am Dev|";

    }

    45% {
        content: "I Am Deve|";

    }

    46% {
        content: "I Am Devel|";


        ;
    }

    47% {
        content: "I Am Develo|";


        ;
    }

    48% {
        content: "I Am Develop|";


        ;
    }

    49% {
        content: "I Am Develope|";


        ;
    }

    50% {
        content: "I Am Developer|";


        ;
    }

    51% {
        content: "I Am Developer|";


        ;
    }

    52% {
        content: "I Am Developer|";


        ;
    }

    53% {
        content: "I Am Developer|";


        ;
    }

    54% {
        content: "I Am Developer|";


        ;
    }

    55% {
        content: "I Am Developer|";


        ;
    }

    56% {
        content: "I Am Developer|";

    }

    57% {
        content: "I Am Developer|";

    }

    58% {
        content: "I Am Develope|";

    }

    59% {
        content: "I Am Develop|";

    }

    60% {
        content: "I Am Develo|";

    }

    61% {
        content: "I Am Devel|";

    }

    62% {
        content: "I Am Deve|";

    }

    63% {
        content: "I Am Dev|";

    }

    64% {
        content: "I Am De|";

    }

    65% {
        content: "I Am D|";

    }

    67% {
        content: "I Am |";

    }

    68% {
        content: "I Am |";

    }

    69% {
        content: "I Am |";

    }

    70% {
        content: "I Am |";

    }

    71% {
        content: "I Am |";

    }

    72% {
        content: "I Am |";

    }

    73% {
        content: "I Am |";

    }

    74% {
        content: "I Am |";

    }

    75% {
        content: "I Am |";

    }

    76% {
        content: "I Am D|";

    }

    77% {
        content: "I Am De|";

    }

    78% {
        content: "I Am Des|";

    }

    79% {
        content: "I Am Desi|";

    }

    80% {
        content: "I Am Desig|";

    }

    81% {
        content: "I Am Design|";

    }

    82% {
        content: "I Am Designe|";

    }

    83% {
        content: "I Am Designer|";

    }

    84% {
        content: "I Am Designer|";

    }

    85% {
        content: "I Am Designer|";

    }

    86% {
        content: "I Am Designer|";

    }

    87% {
        content: "I Am Designer|";

    }

    88% {
        content: "I Am Designer|";

    }

    89% {
        content: "I Am Designer|";

    }

    90% {
        content: "I Am Designer|";

    }

    91% {
        content: "I Am Designer|";

    }

    92% {
        content: "I Am Designe|";

    }

    93% {
        content: "I Am Design|";

    }

    94% {
        content: "I Am Desig|";

    }

    95% {
        content: "I Am Desi|";

    }

    96% {
        content: "I Am Des|";

    }

    97% {
        content: "I Am De|";

    }

    98% {
        content: "I Am D|";

    }

    98% {
        content: "I Am |";

    }

    99% {
        content: "I Am |";

    }

    100% {
        content: "I Am |";

    }
}

/* end-home */



/* start-navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.9);
}

.nav-link {
    color: white;
    font-weight: 600;
}

.nav-item {
    padding: 0 8px;

}

.nav-link:hover {
    color: white;
}

.nav-item a {
    position: relative;

}

nav .nav-link.active::before {
    width: 60%;

}

.nav-item a::before {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: white;
    transition: 0.3s;
}

.nav-item:hover a::before {
    width: 60%;
}


.dropdown:hover>.dropdown-menu {
    display: block;

}

.dropend:hover>.dropdown-menu {
    transition: 0.3s;
    display: block;
    position: absolute;
    left: 98%;
    top: 0;
    box-shadow: 0px 0px 30px rgba(56, 56, 56, 0.2);
    margin-top: 0;
}

/* end-navbar */



/* start-about */
.about {
    background-color: #F5F5F5;
}

.about .container {
    background-color: white;
}

.skills-item p {
    margin: 0;
    padding-bottom: 10px;

}

.head-line {
    position: relative;
}

.head-line::before {
    content: "";
    width: 17%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    background-color: var(--main-color);
}

.about p {
    color: #4E4E4E;
    font-weight: 100;
}

/* end-about */





/* start-services */
.services {
    background-color: #F5F5F5;
}

.title h3 {
    font-size: 48px;
}

.title {
    position: relative;
}

.title ::before {
    content: '';
    background-color: var(--main-color);
    width: 45px;
    height: 4px;
    position: absolute;
    bottom: -20px;
    left: 47.5%;
}



.services .item .icon {
    width: 120px;
    height: 120px;
    border: 10px solid var(--main-color);
    border-radius: 50%;
    transition: 0.5s;
}

.services .item:hover .icon {
    color: white;
    border: 10px solid #CDE1F8;
    background-color: var(--main-color);
}

.services .item {
    background-color: white;

}


/* end-services */




/* start information */



.information {
    background-image: linear-gradient(rgba(0, 119, 255, 0.7), rgba(0, 119, 255, 0.7)), url(./../img/counters-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}



.information .info-icon {
    width: 80px;
    height: 80px;
    border: 10px solid #CDE1F8;
    border-radius: 50%;
}

.information .info-content p {
    padding: 0;
    margin: 0;
}




.portfolio .parent-text {
    background-color: white;
}

.portfolio .plus-icon {
    width: 40px;
    height: 40px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

/* end information */


/* start portfolio */
.portfolio {
    background-color: #F5F5F5;
}

.portfolio .portfolio-card .parent-text p {
    font-size: 13px;
}

.portfolio .portfolio-card .card-img {
    overflow: hidden;
}

.portfolio .portfolio-card .card-img img {
    transition: 1.1s;

}

.portfolio .portfolio-card .card-img:hover img {
    transform: scale(1.3);

}

.plus-icon i {
    transition: 0.5s;
}

.plus-icon:hover i {
    color: #0A58CA;

}

/* end portfolio */


/* start client */
.client {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 119, 255, 0.7), rgba(0, 119, 255, 0.7)), url(./../img/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;

}

/* end client */







/* start BLOG */
.blog {
    background-color: #F5F5F5;
}

.blog .blog-card {
    background-color: white;
}

.blog .blog-text {
    background-color: white;
}

.blog .travel-headline {
    width: max-content;
    height: max-content;
}

.blog .travel-headline h6 {
    font-size: 12px;
}


.clock {
    background-color: #F5F5F5;
}

.blog .card-test {

    width: 33px;
    height: 33px;
}

.blog-card a {
    transition: 0.5s;
    color: black;
}

.blog a:hover {
    color: var(--main-color);
}

/* end BLOG */






/* start contact */


.contact {
    background-image: linear-gradient(rgba(0, 119, 255, 0.7), rgba(0, 119, 255, 0.7)), url(./../img/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.contact .container {
    background-color: white;
}

.contact .btn {
    border: 4px solid white;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #3393FF;
    border: 4px solid #CDE1F8;


}

.contact-icon {
    width: 45px;
    height: 45px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.contact-icon:hover {
    color: white;
    background-color: var(--main-color);
    border-color: #CDE1F8;
}

/* end contact */







footer {
    background-color: #0062D3;
}


.copyright-icon {
    font-size: 13px;
}